<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="login-card">
    <ion-img src="../assets/icon/logo camelo.png" alt="Logo da empresa" class="login-logo"></ion-img>
    
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Bem-vindo(a) de volta!</ion-card-subtitle>
      <p class="login-description ion-text-center">Acesse sua conta para continuar suas compras e gerenciar seus pedidos.</p>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-input type="email" fill="solid" label="Email" label-placement="floating" placeholder="Seu email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-input type="password" fill="solid" label="Senha" label-placement="floating" placeholder="Sua senha" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-button expand="block" class="ion-margin-top" (click)="login()">
        Entrar
      </ion-button>

      <div class="ion-text-center ion-margin-top">
        <p>Não tem uma conta? <a routerLink="/register-user">Cadastre-se</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>