<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="login-card">
    <ion-img src="../assets/icon/logo camelo.png" alt="Logo da empresa" class="login-logo"></ion-img>
    
    <ion-card-header>
      <p class="login-description ion-text-center">Acesse sua conta para continuar suas compras e gerenciar seus pedidos.</p>
      <ion-card-subtitle class="ion-text-center">Bem-vindo(a) de volta!</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <div class="input-container">
            <ion-input type="email" label="Email" label-placement="floating" placeholder="Seu email" [(ngModel)]="email" (ionChange)="validateEmail()"></ion-input>
            <p *ngIf="emailError" class="error-message">{{ emailError }}</p>
          </div>
        </ion-item>

        <ion-item>
          <div class="input-container">
            <ion-input type="password" label="Senha" label-placement="floating" placeholder="Sua senha" [(ngModel)]="password" (ionChange)="validatePassword()"></ion-input>
            <p *ngIf="passwordError" class="error-message">{{ passwordError }}</p>
          </div>
        </ion-item>
      </ion-list>
      
      <ion-button expand="block" class="ion-margin-top" (click)="login()">
        Entrar
      </ion-button>
      
      <p *ngIf="loginError" class="error-message ion-text-center ion-margin-top">{{ loginError }}</p>

      <div class="ion-text-center ion-margin-top">
        <p>Não tem uma conta? <a routerLink="/register-user">Cadastre-se</a></p>
      </div>

      <div class="ion-text-center ion-margin-top">
        <p><a routerLink="/home">Continuar sem conta</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>