<ion-tabs>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="little-car" href="/tabs/little-car">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge color="danger" *ngIf="qtdCarrinho > 0">{{ qtdCarrinho }}</ion-badge>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="reorder-three-outline"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>