<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="search-item">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-input placeholder="Pesquisar..." [(ngModel)]="searchProductsQuery" (keyup.enter)="searchProducts()" clearInput="true"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Carregando categorias...</p>
  </div>

  <ion-list *ngIf="!isLoading && categories.length > 0">
    <ion-item button *ngFor="let category of categories" (click)="goToCategory(category.name)">
      <ion-label>
        <h3>{{ category.name }}</h3>
        <p>{{ category.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && categories.length === 0" class="no-products-container">
    <p>Nenhuma categoria cadastrada ainda.</p>
  </div>
</ion-content>