ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary, #3880ff);
      color: var(--ion-color-primary-contrast, #ffffff);
    }
  }

ion-card {
    border: 2px solid rgb(58, 54, 50);
}

ion-card-title {
    font-size: 17px;
}

ion-label {
    align-items: center;
    justify-content: center;
    display: flex;
}

ion-title {
    font-size: 25px;
    justify-content: center;
    display: flex;
}

ion-button {
    justify-content: center;
    align-items: center;
    display: flex;
}