<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="main-menu">
    <ion-item button *ngFor="let item of menuItems" (click)="handleNavigation(item.action)">
      <ion-icon [name]="item.icon" slot="start" color="dark"></ion-icon>
      <ion-label>{{ item.label }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding-top ion-padding-horizontal">
    <ion-button expand="block" fill="danger" color="medium" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>Sair</ion-button>
  </div>
  
</ion-content>