ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

.profile-section {
    padding-top: 50px !important; 
    padding-bottom: 20px;

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}

.user-avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background: #000000; 
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.name-container {
    cursor: pointer;
    h2 {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;
    }
    p {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        color: #333;
        margin: 0;
    }
    ion-icon {
        font-size: 0.9rem;
        margin-left: 5px;
        margin-top: 1px;
    }
}


.new-badge {
    font-size: 0.65rem;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 12px;
    background: #2D9CDB; 
    color: #ffffff;
}

ion-list-header {
    --background: #f5f5f5; 
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 20px;
}
.announcer-header {
    padding-top: 0;
    margin-top: 20px;
}

ion-card {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin: 10px 10px 20px 10px; 
}

.order-header {
    --background: transparent;
    padding-bottom: 0;
}

.item-list-details {
    padding-left: 16px;
    padding-right: 16px;
    
    ion-item.product-item {
        --background: transparent;
        --padding-start: 0;
        --inner-padding-end: 0;
        
        ion-thumbnail {
            --size: 60px;
            min-width: 60px;
            margin-right: 10px;
        }
    }
}


.header-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px;
    padding-bottom: 0;
}

.header-section h2 {
    font-weight: bold;
    color: var(--ion-color-dark, #222428);
}

.header-section .view-all-link {
    color: var(--ion-color-primary, orange); 
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

ion-content {
    --background: var(--ion-color-light, #f4f5f8);
}

.ignore-clicks {
    pointer-events: none;
}
