<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge color="danger" *ngIf="qtdCarrinho > 0">{{ qtdCarrinho }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="product">
    <swiper-container [loop]="true" [pagination]="true" [autoplay]="{ delay: 4000 }">
      <swiper-slide *ngFor="let image of product?.images">
        <img [src]="image" />
      </swiper-slide>
    </swiper-container>

    <ion-card-content>
      <div class="product-info-stars">
        <div class="stars">
          <ion-icon *ngFor="let star of estrelas" [name]="star"></ion-icon>
          <ion-text>({{ product?.nota }} avaliações)</ion-text>
        </div>
      </div>

      <div class="product-info-details">
        <p class="description">{{ product?.description }}</p>
        <p class="price">R$ {{ product?.price | number:'1.2-2' }}</p>
        <p class="stock-info">EM ESTOQUE: {{ product?.quantity - qtdCarrinho }} UNIDADES</p>
      </div>

      <ion-grid class="quantity-controls">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-text>Quantidade:</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button fill="clear" (click)="diminuirQtd()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text class="item-quantity">{{ qtd }}</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button fill="clear" (click)="aumentarQtd()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-button 
        expand="block" 
        class="add-to-cart-button" 
        (click)="adicionarCarrinho()"
        [disabled]="qtd === 0 || (product?.quantity - qtdCarrinho) === 0"
        color="primary"
      >
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        Adicionar ao Carrinho
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>