ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary, #3880ff);
    color: var(--ion-color-primary-contrast, #ffffff);
  }
}

ion-content {
  --background: var(--ion-color-light, #f4f5f8);

  ion-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    ion-card-header {
      padding-bottom: 0;
      ion-card-subtitle {
        color: var(--ion-color-medium, #92949c);
        font-weight: bold;
      }
      ion-card-title {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--ion-color-dark, #222428);
      }
    }
  }
}

.product-info-stars {
  .stars {
    display: flex;
    align-items: center;
    ion-icon {
      color: var(--ion-color-warning, #ffc409);
      margin-inline-end: 2px;
    }
    ion-text {
      margin-left: 5px;
      color: var(--ion-color-medium, #92949c);
    }
  }
}

.product-info-details {
  margin-top: 10px;

  .name {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--ion-color-dark, #222428);
    margin-bottom: 5px;
  }

  .description {
    font-size: 1em;
    color: var(--ion-color-dark, #222428);
    line-height: 1.4;
  }
  .price {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--ion-color-success, #2dd36f);
    margin-top: 10px;
  }
  .stock-info {
    font-size: 0.9em;
    color: var(--ion-color-medium, #92949c);
    font-weight: 500;
  }
  
  .low-stock {
    color: var(--ion-color-danger, #eb445a);
    font-weight: bold;
  }
}

.quantity-controls {
  margin-top: 15px;
  .item-quantity {
    font-weight: bold;
    font-size: 1.2em;
    min-width: 30px;
    text-align: center;
  }
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-light, #f4f5f8);
  }
}

.add-to-cart-button {
  --background: orange;      
  --background-hover: #ff8000; 
  --background-activated: #e67300; 
  --background-focused: #e67300; 
  --color: #fff;             
  font-weight: bold;
  font-size: 1.1em;
}

.description-container {
  max-height: 80px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, var(--ion-background-color, #fff), transparent);
    pointer-events: none;
  }

  &.expanded {
    max-height: none;
    &::after {
      content: none;
    }
  }
}

.read-more-button {
  margin-top: 5px;
  text-align: right;
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;
  font-weight: bold;
}

.search-item {
  width: 100%;

  --border-radius: 20px;
  --inner-padding-end: 0;
  --min-height: 38px;
  margin: 0 8px;
}

.search-item ion-icon {
  color: var(--ion-color-medium);
  font-size: 1.2em;
  padding-right: 5px;
}

.search-item ion-input {
  --placeholder-color: var(--ion-color-medium);
}