<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header ion-text-center ion-padding-top">
    <div class="profile-pic-container">
      <ion-avatar>
        <img src="https://i.pravatar.cc/150?u={{ userEmail }}" alt="Foto de Perfil" />
      </ion-avatar>
      <ion-icon name="camera-outline" class="edit-icon" (click)="editProfile()"></ion-icon>
    </div>
    <ion-text color="dark">
      <h2 class="ion-no-margin" *ngIf="userName">{{ userName }}</h2>
      <p *ngIf="userEmail">{{ userEmail }}</p>
    </ion-text>
    <ion-button fill="clear" color="medium" size="small" (click)="editProfile()">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      Editar Perfil
    </ion-button>
  </div>
  
  <ion-list-header>
    <ion-label>Meus Pedidos</ion-label>
  </ion-list-header>

  <ion-list *ngIf="orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="order-container ion-margin-bottom">
      <ion-item class="order-header" lines="none">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        <ion-label>
          <h3>Pedido #{{ order.id }}</h3>
          <p>Data: {{ order.date }}</p>
          <p>Total: <strong>R$ {{ order.total | number:'1.2-2' }}</strong></p>
        </ion-label>
      </ion-item>
      <ion-list class="item-list-details" lines="full">
        <ion-item *ngFor="let item of order.items" class="product-item">
          <ion-thumbnail slot="start">
            <img [src]="item.images" *ngIf="item.images" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ item.name }}</h3>
            <p>Quantidade: {{ item.quantity }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
  
  <ng-template #noOrders>
    <ion-item>
      <ion-label class="ion-text-center ion-text-wrap">Nenhum pedido encontrado. Faça sua primeira compra!</ion-label>
    </ion-item>
  </ng-template>
  
  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Sair da Conta
    </ion-button>
  </div>
</ion-content>