<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-user"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="login-card"> 
    <ion-img src="../assets/icon/logo camelo.png" alt="Logo da empresa" class="login-logo"></ion-img>
    
    <ion-card-header>
      <ion-card-title class="ion-text-center">Cadastro de Usuário</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Crie sua conta</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="registrationStep === 1">
        <ion-list lines="none">
          <ion-item>
            <div class="input-container">
              <ion-input type="text" label="Nome Completo" label-placement="floating" placeholder="Seu nome" [(ngModel)]="name" (ionChange)="validateName()"></ion-input>
              <p *ngIf="nameError" class="error-message">{{ nameError }}</p>
            </div>
          </ion-item>

          <ion-item>
            <div class="input-container">
              <ion-input type="email" label="Email" label-placement="floating" placeholder="Seu email" [(ngModel)]="email" (ionChange)="validateEmail()"></ion-input>
              <p *ngIf="emailError" class="error-message">{{ emailError }}</p>
            </div>
          </ion-item>

          <ion-item>
            <div class="input-container">
              <ion-input type="password" label="Senha" label-placement="floating" placeholder="Sua senha" [(ngModel)]="password" (ionChange)="validatePassword()"></ion-input>
              <p *ngIf="passwordError" class="error-message">{{ passwordError }}</p>
            </div>
          </ion-item>
        </ion-list>
        
        <ion-button expand="block" class="ion-margin-top" (click)="nextStep()">
          Continuar
        </ion-button>
        <div class="ion-text-center ion-margin-top">
          <p>Já tem uma conta? <a routerLink="/login-user">Faça o login!</a></p>
        </div>
      </div>

      <div *ngIf="registrationStep === 2">
        <ion-list lines="none">
          <ion-item>
            <div class="input-container">
              <ion-input label="CEP" label-placement="floating" placeholder="00000-000" [(ngModel)]="cep" (ionBlur)="buscarCep()" inputmode="numeric" maxlength="9"></ion-input>
              <p *ngIf="cepError" class="error-message">{{ cepError }}</p>
            </div>
          </ion-item>
          
          <ion-item>
            <ion-input label="Rua" label-placement="floating" placeholder="Rua, Avenida, etc." [(ngModel)]="rua" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Bairro" label-placement="floating" placeholder="Seu bairro" [(ngModel)]="bairro" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Cidade" label-placement="floating" placeholder="Sua cidade" [(ngModel)]="cidade" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Estado" label-placement="floating" placeholder="Seu estado (UF)" [(ngModel)]="estado" [disabled]="true"></ion-input>
          </ion-item>
        </ion-list>
        
        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="prevStep()">
              Voltar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="register()">
              Cadastrar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>