<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-user"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="body-design">

    <div class='img-design'>
      <ion-img src="../assets/icon/logo camelo.png" alt="Logo da empresa">
      </ion-img>
    </div>

    <div class="titulo-login">
      <h1> Cadastro de Usuário </h1>
    </div>
  
  <div *ngIf="registrationStep === 1">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-input label="Nome" [(ngModel)]="name" placeholder="Seu nome completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" type="email" [(ngModel)]="email" placeholder="seuemail@exemplo.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Senha" type="password" [(ngModel)]="password" placeholder="Sua senha"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button expand="block" class="ion-padding-top" (click)="nextStep()" color="dark">Continuar</ion-button>
    <div class="ion-text-center ion-padding-top">
      <ion-text class="ion-text-center ion-margin-top">
        <p>Já tem uma conta? <a routerLink="/login-user">Faça o login!</a></p>
      </ion-text>
    </div>
  </div>


  <div *ngIf="registrationStep === 2">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-input label="CEP" [(ngModel)]="cep" placeholder="00000-000" (ionBlur)="buscarCep()" inputmode="numeric" maxlength="9"></ion-input>
        <ion-button slot="end" (click)="buscarCep()" color="dark">Buscar CEP</ion-button>
      </ion-item>
      <ion-item>
        <ion-input label="Rua" [(ngModel)]="rua" placeholder="Rua, Avenida, etc." [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Bairro" [(ngModel)]="bairro" placeholder="Seu bairro" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Cidade" [(ngModel)]="cidade" placeholder="Sua cidade" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Estado" [(ngModel)]="estado" placeholder="Seu estado (UF)" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="prevStep()" color="dark">
          Voltar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="register()" color="dark">
          Cadastrar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>