
<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="hero-banner">
    <img src="../assets/icon/DESCONTOS.png" alt="Banner Principal" />
  </div>

  <div class="header-section ion-padding">
    <h2>Todos os Produtos</h2>
    <a routerLink="/all-products" class="view-all-link">Ver tudo &rarr;</a>
  </div>


  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Carregando produtos...</p>
  </div>

  <div *ngIf="!isLoading && allProducts.length === 0" class="no-products-container">
    <p>Nenhum produto cadastrado ainda.</p>
  </div>

  <!-- [routerLink]="['./tabs/product-page', product.id]"  -->

  <swiper-container [loop]="true" [slidesPerView]="2.2" [spaceBetween]="10" *ngIf="!isLoading && allProducts.length > 0">
    <swiper-slide *ngFor="let product of allProducts">
      <ion-card  (click)="goToProduct(product.id)" class="product-card">
        <img [src]="product.images ? product.images[0] : '../assets/icon/placeholder.png'" />
        <ion-card-content>
          <ion-text class="product-name">
            <h3>{{ product.name }}</h3>
          </ion-text>
          <ion-text class="product-category">
            <p>{{ product.category }}</p>
          </ion-text>
          <ion-text class="product-price">
            <h4>R$ {{ product.price | number:'1.2-2' }}</h4>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  
  <div class="header-section ion-padding" *ngIf="!isLoading && lowStockProducts.length > 0">
    <h2>Últimas Unidades!</h2>
    <a routerLink="/last-units" class="view-all-link">Ver tudo &rarr;</a>
  </div>

  <div *ngIf="!isLoading && lowStockProducts.length > 0">
    <swiper-container [loop]="false" [slidesPerView]="2.2" [spaceBetween]="10">
      <swiper-slide *ngFor="let product of lowStockProducts">
        <ion-card [routerLink]="['./tabs/product-page', product.id]" class="product-card">
          <img [src]="product.images ? product.images[0] : '../assets/icon/placeholder.png'" />
          <ion-card-content>
            <ion-text class="product-name">
              <h3>{{ product.name }}</h3>
            </ion-text>
            <ion-text class="product-category">
              <p>{{ product.category }}</p>
            </ion-text>
            <ion-text class="product-price">
              <h4>R$ {{ product.price | number:'1.2-2' }}</h4>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="header-section ion-padding">
    <h2>Navegue por Categorias</h2>
    <a routerLink="/all-products" class="view-all-link">Ver tudo &rarr;</a>
  </div>

  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Carregando produtos...</p>
  </div>

  <div *ngIf="!isLoading && categories.length === 0" class="no-products-container">
    <p>Nenhum produto cadastrado ainda.</p>
  </div>

  <swiper-container [loop]="true" [slidesPerView]="2.2" [spaceBetween]="10" *ngIf="!isLoading && categories.length > 0">
    <swiper-slide *ngFor="let category of categories">
      <ion-card [routerLink]="['./tabs/category-page', category.id]" class="category-card">
        <ion-card-content>
          <ion-text class="product-name">
            <h3>{{ category.name }}</h3>
          </ion-text>
          <ion-text class="product-category">
            <p>{{ category.description }}</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>