<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/little-car">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge color="danger" *ngIf="qtdCarrinho > 0">{{ qtdCarrinho }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-section ion-padding">
    <h2>Bestsellers</h2>
    <a routerLink="/all-products" class="view-all-link">Ver tudo &rarr;</a>
  </div>

  <swiper-container [options]="slideOpts" class="product-slider">
    <swiper-slide *ngFor="let product of products">
      <ion-card [routerLink]="['/product-page', product.id]" class="product-card">
        <img [src]="product.images"/>
        <ion-card-content>
          <ion-text class="product-name">
            <h3>{{ product.name }}</h3>
          </ion-text>
          <ion-text class="product-category">
            <p>{{ product.category }}</p>
          </ion-text>
          <ion-text class="product-price">
            <h4>R$ {{ product.price | number:'1.2-2' }}</h4>
          </ion-text>
          <ion-text class="product-qtd">
            <p>Qtd: {{ product.stock }}</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>