<ion-header>
  <ion-toolbar>
    <ion-title>Produtos à Venda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Carregando produtos...</p>
  </div>
  
  <div *ngIf="!isLoading && products.length === 0" class="no-products-container">
    <p>Nenhum produto cadastrado ainda.</p>
  </div>

  <ion-list *ngIf="!isLoading && products.length > 0">
    <ion-card *ngFor="let product of products">
      <img [src]="product.images" *ngIf="product.images">
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.description }}</p>
        <p><strong>Preço:</strong> R$ {{ product.price }}</p>
        <p><strong>Quantidade:</strong> {{ product.quantity }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>